.color-white {
	color: $white !important;
}

.color-dark {
	color: $gray-900 !important;
}

.color-primary {
	color: $primary;
}
.color-secondary {
	color: $secondary;
}
.color-info {
	color: $info;
}
.color-success {
	color: $success;
}
.color-warning {
	color: $warning;
}
.color-danger {
	color: $danger;
}

