.page-hero-0 {
	padding: 2rem 0 !important;
}
.page-hero-1 {
	padding: 4rem 0 !important;
}
.page-hero-2 {
	padding: 8rem 0 !important;
}
.page-hero-3 {
	padding: 12rem 0 !important;
}
.page-hero-4 {
	padding: 16rem 0 !important;
}
.page-hero-5 {
	padding: 20rem 0 !important;
}