/* color */

.color {
	color: var(--color);
}


/* grid */

.grid-layout {
	gap: calc(var(--spacing) * 8);
	grid-template-columns: repeat(1, minmax(0, 1fr));
	display: grid
}

.grid-layout[data-from-breakpoint=default] {
	grid-template-columns: var(--cols)
}

.grid-layout[data-from-breakpoint=default] > .grid-layout-col {
	grid-column: var(--col-span)
}

@media (min-width: 40rem) {
	.grid-layout[data-from-breakpoint=sm] {
		grid-template-columns:var(--cols)
	}

	.grid-layout[data-from-breakpoint=sm] > .grid-layout-col {
		grid-column: var(--col-span)
	}
}

@media (min-width: 48rem) {
	.grid-layout[data-from-breakpoint=md] {
		grid-template-columns:var(--cols)
	}

	.grid-layout[data-from-breakpoint=md] > .grid-layout-col {
		grid-column: var(--col-span)
	}
}

@media (min-width: 64rem) {
	.grid-layout[data-from-breakpoint=lg] {
		grid-template-columns:var(--cols)
	}

	.grid-layout[data-from-breakpoint=lg] > .grid-layout-col {
		grid-column: var(--col-span)
	}
}

@media (min-width: 80rem) {
	.grid-layout[data-from-breakpoint=xl] {
		grid-template-columns:var(--cols)
	}

	.grid-layout[data-from-breakpoint=xl] > .grid-layout-col {
		grid-column: var(--col-span)
	}
}

@media (min-width: 96rem) {
	.grid-layout[data-from-breakpoint="2xl"] {
		grid-template-columns:var(--cols)
	}

	.grid-layout[data-from-breakpoint="2xl"] > .grid-layout-col {
		grid-column: var(--col-span)
	}
}

.grid-layout > .grid-layout-col {
	min-width: 0;
	margin-top: 0
}


